<h1>New Book</h1>

 <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
<br>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', books_path %>
